{% extends 'base.html.twig' %}

{% block title %} Homes {% endblock %}

{% block content %} 
    <ul>
        <li> Todos los departamentos</li>
        <li> Un departamento</li>
        <li> </li>
        <li> Todos los departamentos</li>
{% endblock %}