<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} titulo {% endblock %}</title>
</head>
<body>
    {% include "header.html.twig" %}
    <hr>
    <main>
        {% block content %} 
        {% endblock %}

        
    </main>
    <hr>
    {% include "footer.html.twig" %}
</body>
</html>