{% extends "base.html.twig" %}

{% block title %} Pagina sobreescrita {% endblock %}

{% block content %} 
<h2>Pagina de inicio</h2>
<p>¡Bienvenido a nuestra pagina web! Aqui encontraras contenido dinamico</p>
{% endblock %}