    
    {% import "/partials/macro.html.twig" as mac %}
   <div class="col">
    {% if villano.villano %}
        <div class="card text-bg-danger mb-3" style="height: 15rem;">
    {% else %}
        <div class="card text-bg-success mb-3" style="height: 15rem;">
    {% endif %}
            <div class="card-body">
                <h5 class="card-title">{{villano.nombre}}</h5>
                <p class="card-text" style="height: 5rem;">Pelicula: {{ villano.pelicula }}</p>
                {% if villano.villano %}
                    {{ mac.alerta("villano", "danger") }}
                {% else %}
                    {{ mac.alerta("heroe", "success") }}
                {% endif %}
            </div>
        </div>
    </div>


