<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
</head>

<body>
    <h1>Actualizar Empleados</h1>

    <form action="/emple/update/<%= emple.emple_no %>" method="POST">
        <label for="apellido">Apellido:</label>
        <input type="text" id="apellido" name="apellido" value="<%= emple.apellido %>" required><br>

        <label for="oficio">Oficio:</label>
        <input type="text" id="oficio" name="oficio" value="<%= emple.oficio %>" required><br>

        <button type="submit">Actualizar</button>
</body>

</html>