{% extends 'base.html.twig' %}

{% block title %} Compra {% endblock %}

{% block content %} 
<main class="form-signin w-100 m-auto">
    <form action="/compra" method="post">
        <h1 class="h3 mb-3 fw-normal">¿Quieres cambiar tu producto estrella?</h1> 
        <div class="form-floating"> 
            <input type="text" class="form-control" id="floatingInput" placeholder="Producto" name="producto"> 
            <label for="floatingInput">{{ variableTwig.producto }}</label> 
        </div> 
        <button class="btn btn-primary w-100 py-2" type="submit">Guardar</button> 

        {% if variableTwig.producto != "" %}
        <p> Tu producto estrella: </p>
        <p class="h3 mb-r fw-normal"> {{ variableTwig.producto }}
        {% endif %}
        
        <p class="mt-5 mb-3 text-body-secondary">© 2017–2025</p> 
    </form>
</main>
{% endblock %}

